.comments-list {
  padding: 10px;
  .comment {
    background-color: #f7f7f7;
    .comment__user-image {
      height: 50px;
    }
  }
}

.issue__user-image,
.sticky-message__user-image {
  height: 50px;
}
.card--active {
  background-color: lightgreen !important;
}
