html,
body {
  height: 100vh;
}

.app-container,
body.container {
  height: 100vh;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.card {
  margin-top: 10px;
}

.hover:hover {
  cursor: pointer;
}

.footer {
  background-color: rgba(10, 10, 10, 0.8);
  color: snow;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
}
